@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
  padding: 30px;
  font-family: 'Source Sans Pro', ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 4fr 3fr 1fr;
}

a {
  text-decoration: none;
  color:black;
  padding: 15px;
}

span {
  font-weight: bold;
}

h1 {
  font-size: x-large;
}

#header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}