body {
  display: grid;
  grid-template-columns:120px repeat(7, 2fr);
  grid-template-rows: 300px repeat(11, 1fr);
  height: 100vh;
}

aside {
  grid-area: 1/1/-1/3;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: inherit;
}
  .logoimg {
    max-width: 320px;
    max-height: 186px;
    grid-column: 1/-1;
    grid-row: 1/5;
    background-image: url(./img/bettylogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* need to set max heights/widths for img in diff screens */
  }
  #buttonbook {
    grid-row: 14/-1;
    background-color: lightblue;
    color: white;
  }


  @media (min-width: 768px) {
    .logoimg {
      max-height: 276px;
    }
  }